*.RData
*.Rhistory
*.Rproj
*.bam
*.bam.*
*.csv
*.fa
*.fa.*
*.fasta*
*.gif
*.hide
*.ids
*.info
*.jpeg
*.jpg
*.pairs
*.pdf
*.png
*.sam
*.sam.*
*.swp
*.xls
*.xlsx
*~
00_archive/*
02_data/*
02_data/00_archive/*
02_data/num_markers_assigned.txt
03_mapped/paired_anon_names.txt
03_mapped/pairings_out.txt
bwa.*


# un-ignore
!/02_data/genome/tutorial_genome.fasta
!/02_data/tutorial_markers.csv
!/00_archive/tutorial_figure.png
